{% extends "base.html" %}

{% block content %}
    <table>
        <tr align="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>User: {{ user.username }}!</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.get_last_seen() }}</p>{% endif %}
            </td>
        </tr>
    </table>
    {% if user == current_user %}
    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    {% endif %}
    <hr>
        {% include '_post.html' %}
{% endblock %}